<table>
  <tbody>
    <tr>
      <th>Hide Donate Add</th>
      <td><input type="checkbox" id="settings_hide_donate_add" 
          	value="1" name="settings[hide_donate_add]" <%= settings['hide_donate_add'] ? "checked" : "" %>>
    </tr>
  </tbody>
</table>